<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/plugins/bootstrap3.4.1/css/bootstrap.css">
    <link rel="stylesheet" href="../static/plugins/font-awesome-4.7.0/css/font-awesome.css">
</head>
<body>
<div>登录页面
</div>
<div>登录名称
</div>{{ from  }}
<div>{{ n1 }}
</div>
    <div>{% for item in n1 %}
       <div> {{ item }} 这个是for item in project </div>
    {% endfor %}
</div>
</div>
    <div>{% for k,v in n1.items %}
       <div> {{ k }} = {{ v }} </div>
    {% endfor %}
</div>

</div>
    <div>{% for item in datalist %}
        <div>{{ item.姓名1 }} {{ item.数字1 }}</div>
    {% endfor %}
</div>

<script src="../static/js/jquery-3.6.3.min.js"></script>
<script src="../static/plugins/bootstrap3.4.1/js/bootstrap.min.js"></script>
</body>
</html>